@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

.custom-row {
    margin: 0;
}

.home-wrap {
    background-image: 
    linear-gradient(
        rgba(0, 0, 0, 0.13), 
        rgba(0, 0, 0, 0.13)),
    url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 95vh;
}

.row-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 119px;
    background-color: #ffffff;
}

.logo {
    margin-left: 50px;
}

.menu-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-variant: small-caps;
    white-space: nowrap;
}

.menu-list li{
    margin-right: 20px;
}

.menu-list a {
    color: #000000;
}

.menu-list a:hover {
    color: #bc2336;
    text-decoration: none;
}

.row-menu .min-menu {
    color: black;
    font-size: 30px;
    display: none;
}

.social-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    width: 200px;
    margin-left: 10%;
}

.social-list li {
    padding: 5px 8px;
    border-radius: 3px;
    border: 2px solid #000000;
}

.social-list a {
    color: #000000;
}

.social-list li:hover{
    border-color: #bc2336;
}

.social-list a:hover {
    color: #bc2336;
}

.home-text-position {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 36px;
    font-variant: small-caps;
}

.title {
    font-family: 'Lobster', cursive;
    letter-spacing: 4px;
    font-size: 60px;
    text-align: center;
}

.subtitle {
    font-size: 18px;
    margin-bottom: 3%;
    margin-top: 2%;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.btn {
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    font-variant: small-caps;
    border: 3px solid #bc2336;
    padding: 10px 100px;
}

.btn a {
    color:#ffffff;
    text-decoration: none;
}

.btn:hover {
    background-color: #bc2336;
}

.title-position {
    margin: 3% 10%;
    text-align: center;
}

.catering-title {
    color: #000000;
    font-family: "Kaushan Script";
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 22px;
}

.catering-text {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.row-img {
    min-width: 300px;
    width: 100%;
    min-height: 271px;
    height: 100%;
}

.img-first {
    background: url("../img/photo1.png");
    background-size: cover;
    padding-bottom: 10px;
}

.img-second {
    background: url("../img/photo2.png");
    background-size: cover;
    padding-bottom: 10px;
}

.img-third {
    background: url("../img/photo3.png");
    background-size: cover;
    padding-bottom: 10px;
}

.img-fourth {
    background: url("../img/photo4.png");
    background-size: cover;
}

.img-fifth {
    background: url("../img/photo5.png");
    background-size: cover;
}

.img-sixth {
    background: url("../img/photo6.png");
    background-size: cover;
}

.white-circle {
    background: #ffffffc2;
    width: 210px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-circle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-circle{
    color: #000000;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-variant: small-caps;
}

.img-first .inner-circle {
    padding: 80px 66px;
}

.img-second .inner-circle {
    padding: 80px 73px;
}

.img-third .inner-circle {
    padding: 66px 0;
    margin: 0px 3px;
}

.img-fourth .inner-circle {
    padding: 80px 70px;
}

.img-fifth .inner-circle {
    padding: 80px 67px;
}

.img-sixth .inner-circle {
    padding: 80px 46px;
}

.inner-circle:hover {
    border: 3px solid #bc2336;
    border-radius: 50%;
    color: #bc2336;
}

.catering-footer {
    height: 246px;
    background-color: #000000;
    color: #ffffff;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.contact {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    font-variant: small-caps;
}

.img-bottom {
    padding-bottom: 25px;
}

.catering-footer .catering-title {
    font-size: 24px;
    color: #ffffff;
    margin-top: 35px;
}

.footer-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-social .social-list {
    width: 200px;
    padding: 0;
}

.footer-social .social-list li {
    border: 2px solid #ffffff;  
}

.footer-social .social-list a {
    color: #ffffff;
}

.social-list li:hover {
    border-color: #bc2336;
}

.social-list a:hover {
    color: #bc2336;
}

