@media screen and (max-width:960px) {
    .logo {
        display: none;
    }

    .social-list {
        display: none;
    }
} 

@media screen and (max-width: 600px) {
    .row-menu {
        height: 50px;
    }

    .menu-list {
        display: none;
    }

    .row-menu .min-menu {
        display: flex;
        align-items: flex-end;
        margin-top: 5px;
}
}